

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 64px;
  font-size: 22px;
  font-family: 'DM Sans';
  font-weight: 400;
  /* border: 111px; */
}

.css-1c35hjw-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 2px 0;
}






.dropdownItems {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: 400;
    top: -15px;
    position: relative;
}

.row {
  display: flex;
  align-items: center;
  height: 35px;
}

.rightBox {
  margin-left: 55px;
}

